.image1{
    background: url(assets/image1.jpg);
min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2{
    background: url(assets/image2.jpg);
min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image3{
    background: url(assets/image3.jpg);
min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: relative;
    margin-left: 300px;
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(203, 201, 171);
    border-radius: 50%;
    
}
/* .hiddencontainer
{
    margin-left: 100px;
    margin-top: 50px;
    
    position: relative;
    height: 300px;
    width: 300px;
    background-color: rgb(203, 201, 171);
    border-radius: 50%;
    
    
    animation: example 5s infinite;
    animation-timing-function: linear;
    

} */
.circle1{
    margin-left: 250px;
    position:absolute;
    min-height: 50px;
    width: 50px;
    background-color: rgb(42, 10, 221);
    border-radius: 50%;
    animation: example 5s infinite;
    animation-timing-function: linear;
    animation-delay: 0.5s;

    
}
.circle2{
    margin-left: 252px;
    position:absolute;
    min-height: 30px;
    width: 30px;
    background-color: rgb(229, 104, 9);
    border-radius: 50%;
    animation: example 5s infinite;
    animation-timing-function: linear;
    animation-delay: 0.7s;
    
}
.circle3{
    margin-left: 255px;
    position:absolute;
    min-height: 20px;
    width: 20px;
    background-color: rgb(9, 231, 227);
    border-radius: 50%;
    animation: example 5s infinite;
    animation-timing-function: linear;
    animation-delay: 0.9s;
    
}

/* @keyframes example {
    0%   {margin-left:0px; margin-top:0px;}
    25%  { margin-left:200px; margin-top:200px;}
    50%  { margin-left:200px; margin-top:200px;}
    75%  {margin-left:0px; margin-top:200px;;}
    100% { margin-left:0px; margin-top:0px;}
  } */

  @keyframes example {
    0%{transform: rotate(0deg) translate(100px);}
    100% {transform: rotate(360deg) translate(100px)}
  }


  .card{
    margin-left: 300px;
    margin-top: 200px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #53e3a6;
   padding-bottom: 10px;

  }


  .card input {
    height: 30px;
    width: 350px;
}
.card input:hover {
    background-color: rgba(255,255,255,0.4);
}
.card input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
}
.card,.quizcontainer button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}
.card,.quizcontainer button:hover {
    background-color: #f5f7f9;
}
.quizbutton {
    margin-top: 50px;
    margin-left: 300px;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.quizbutton:hover {
    background-color: #f5f7f9;
}

.quizcontainer{height: auto;
width:fit-content;
background-color: #53e3a6;
justify-content:  center;
margin-left: 30%;
padding-left: 10px;
padding-right: 10px;}

form
{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.question {
    margin-bottom: 40px;
    
}

