.image1{
    background: url(assets/image1.jpg);
min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2{
    background: url(assets/image2.jpg);
min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image3{
    background: url(assets/image3.jpg);
min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    margin-left: 300px;
    min-height: 400px;
    width: 400px;
    background-color: rgb(203, 201, 171);
    border-radius: 50%;
    padding-top: 20px;
    animation: example 5s infinite;
    animation-timing-function: linear;
    

}
.circle1{
    margin-left: 180px;
    min-height: 50px;
    width: 50px;
    background-color: rgb(42, 10, 221);
    border-radius: 50%;
    
    
}
.circle2{
    margin-left: 100px;
    
    min-height: 30px;
    width: 30px;
    background-color: rgb(229, 104, 9);
    border-radius: 50%;
    
}
.circle3{
    margin-left: 90px;
    
    min-height: 20px;
    width: 20px;
    background-color: rgb(9, 231, 227);
    border-radius: 50%;
    
}

/* @keyframes example {
    0%   {margin-left:0px; margin-top:0px;}
    25%  { margin-left:200px; margin-top:200px;}
    50%  { margin-left:200px; margin-top:200px;}
    75%  {margin-left:0px; margin-top:200px;;}
    100% { margin-left:0px; margin-top:0px;}
  } */

  @keyframes example {
    100% {transform: rotate(360deg);}
  }